@font-face {
    font-family: 'OneStoreMobileGothicPop';
    src: url('https://snowy-rgb.github.io/eid-Ditch/Assets/Fonts/OneStoreMobileGothicPop.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    font-family: 'OneStoreMobileGothicPop', Arial, sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive; /* 픽셀 스타일 폰트 */
    text-align: center;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    justify-content: center;
    align-items: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.game-title {
    font-size: 38px;
    font-family: 'OneStoreMobileGothicPop', Arial, sans-serif;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.game-subtitle {
    font-size: 14px;
    font-family: 'OneStoreMobileGothicPop', Arial, sans-serif;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

button {
    font-size: 14px;
    font-family: 'OneStoreMobileGothicPop';
    padding: 10px 20px;
    margin: 10px;
    background: transparent; /* 투명 버튼 */
    color: white;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    z-index: 2;
    transition: 0.3s;
}

button:hover {
    background: rgba(255, 255, 255, 0.2); /* 살짝 투명 배경 */
}
